.resetPassPage {
  background-image: linear-gradient(to bottom right, #5C258D, #4389A2);
  min-height: 100vh;

  .resetPassDiv {
    width: 33%;
    margin: 300px auto 0px auto;
    text-align: center;
  }
}
